body{min-width:1920px; -ms-overflow-style: none;}
::-webkit-scrollbar {display: none;}
#main {width:100%; height:100vh;}
#main .swiper-wrapper {}
#main .swiper-wrapper .swiper-slide {background-size:cover; position:relative;}
#main .swiper-wrapper .swiper-slide::after {
    content:''; display:block; width:100%; height:100%;
    position:absolute; left:0; top:0; background-color:rgba(0,0,0,0.2);
    z-index:80;
}
#main .swiper-wrapper .page1 .header {
    display:flex; justify-content: space-between; align-items:center; position:absolute; z-index:999; left:0; top:0; padding:0 80px;
    width:100%; height:100px; background-color:#fff;
}
#main .swiper-wrapper .page1 .header::after {display:none;}
#main .swiper-wrapper .page1 .header h1 {}
#main .swiper-wrapper .page1 .header h1 a {}
#main .swiper-wrapper .page1 .header h1 a img {}
#main .swiper-wrapper .page1 .header nav {position:absolute; left:34%;}
#main .swiper-wrapper .page1 .header nav ul {display:flex;}
#main .swiper-wrapper .page1 .header nav ul li {margin-right:40px;}
#main .swiper-wrapper .page1 .header nav ul li:last-child {margin-right:0;}
#main .swiper-wrapper .page1 .header nav ul li a {font-size:1.13rem; font-weight:500; letter-spacing: -0.02em;}
#main .swiper-wrapper .page1 .header .h_right {}
#main .swiper-wrapper .page1 .header .h_right a {font-size:0.88rem; margin-right:22px; font-weight:500; letter-spacing: -0.02em;}
#main .swiper-wrapper .page1 .header .h_right a img {}
#main .swiper-wrapper .page1 .header .h_right #lang {
    width:49px; margin-right:20px; 
    background-image:url(../images/more_down_001.png);
    background-repeat:no-repeat; background-position:95% 50%;
    font-size:0.88rem; font-weight:500; letter-spacing: -0.02em;
}
#main .swiper-wrapper .page1 .header .h_right #lang option {}
#main .swiper-wrapper .page1 {
    background-image:url(../images/bg_001.jpg);
    background-position: center;
}
#main .swiper-wrapper .page1 p {
    color:#fff; text-align:center;
    font-size:3.75rem; font-weight:600; letter-spacing:-0.02em; z-index:90;
    animation: page1title 2s both; text-align:center; padding-top:467px;
    position:relative; z-index:90;
}
#main .swiper-wrapper .page1 p span {font-size:1.88rem; line-height:1.8; animation: page1title 2s 1s both;}
/* page 1 end, page2 start */
#main .swiper-wrapper .page2 {
    background-image:url(../images/bg_002.jpg);
    position:relative;
}
#main .swiper-wrapper .page2 .page2_contents {
    overflow:hidden; position:relative; z-index:90;
    height:100%; padding-top:368px; width:1440px; margin:0 auto;

}
#main .swiper-wrapper .page2 .page2_contents h2 {
    color:#fff;
    font-size:4.0rem; font-weight:600;
    float:left; position:relative; opacity:0; left:-100px;
}
#main .swiper-wrapper .page2 .page2_contents h2 span {font-weight:700; color:#db0000;}
#main .swiper-wrapper .page2 .page2_contents .vision_list { float:right; color:#fff;}
/* vision 공통 선택자 */
#main .swiper-wrapper .page2 .page2_contents .vision_list .vision {}
#main .swiper-wrapper .page2 .page2_contents .vision_list .vision:first-child::before {
    content:''; display:block; background-color:rgba(219,0,0,0.6);
    width:120px; height:120px; border-radius:50%; 
    position:absolute; left:54%; top:36%; z-index:85;
}
#main .swiper-wrapper .page2 .page2_contents .vision_list .vision:last-child::before {
    content:''; display:block; background-color:rgba(219,0,0,0.6);
    width:120px; height:120px; border-radius:50%; 
    position:absolute; left:54%; top:55%;
}
#main .swiper-wrapper .page2 .page2_contents .vision_list .vision > * {position:relative; z-index:150;}
#main .swiper-wrapper .page2 .page2_contents .vision_list .vision h3 {
    font-size:2.5rem; font-weight:600; letter-spacing: -0.02em;
    margin-bottom:20px; opacity:0; position:relative; left:-100px;
}
#main .swiper-wrapper .page2 .vision_list .vision p {font-weight:500;}
/* vision 개별 선택자 */
#main .swiper-wrapper .page2 .page2_contents .vision_list .vision1 {margin-bottom:100px;}
#main .swiper-wrapper .page2 .page2_contents .vision_list .vision1 h3 {}
#main .swiper-wrapper .page2 .page2_contents .vision_list .vision1 p {}
#main .swiper-wrapper .page2 .page2_contents .vision_list .vision2 {}
#main .swiper-wrapper .page2 .page2_contents .vision_list .vision2 h3 {}
#main .swiper-wrapper .page2 .page2_contents .vision_list .vision2 p {}
#main .swiper-wrapper .page2 .page2_contents .vision_list .vision3 {}
#main .swiper-wrapper .page2 .page2_contents .vision_list .vision3 h3 {}
#main .swiper-wrapper .page2 .page2_contents .vision_list .vision3 p {}
/* page2 end, page3 start */
#main .swiper-wrapper .page3 {
    background-image:url(../images/bg_003.jpg);
    background-position:center;
}
#main .swiper-wrapper .page3 > * {width:1440px; margin:0 auto; }
#main .swiper-wrapper .page3 .page3_top {
    color:#fff; display:flex; justify-content:space-between; margin-bottom:80px; position:relative; z-index:90; padding-top:230px;
}
#main .swiper-wrapper .page3 .page3_top h2 {font-size:3.63rem; font-weight:600; position:relative; left:-100px; opacity:0;}
#main .swiper-wrapper .page3 .page3_top h2 span {
    color:#db0000; font-weight:600;
    
}
#main .swiper-wrapper .page3 .page3_top p {
    line-height:1.7; letter-spacing: -0.02em; font-size:1.13rem; width:750px; position:relative; left:-100px; opacity:0;
    font-weight:500;
}
#main .swiper-wrapper .page3 .page3_btm {display:flex; position:relative; z-index:100;}
/* cdmo 공통 선택자 */
#main .swiper-wrapper .page3 .page3_btm .cdmo {
    width:400px; height:377px; padding:132px 38px;
    background-color:rgba(255,255,255,0.8); margin-right:80px; text-align:center; border-radius:20px;
}
#main .swiper-wrapper .page3 .page3_btm .cdmo h3 {
    margin-bottom:28px; font-size:2.25rem; font-weight:600; letter-spacing:-0.02em;
}
#main .swiper-wrapper .page3 .page3_btm .cdmo h3 span {color:#db0000; font-weight:600;}
#main .swiper-wrapper .page3 .page3_btm .cdmo p {font-size:1.13rem; font-weight:500; line-height:1.4; letter-spacing: -0.02em;}
/* cdmo 개별 선택자 */
#main .swiper-wrapper .page3 .page3_btm .cdmo1 {opacity: 0; position:relative; top:20px;}
#main .swiper-wrapper .page3 .page3_btm .cdmo1 h3 {}
#main .swiper-wrapper .page3 .page3_btm .cdmo1 h3 span {}
#main .swiper-wrapper .page3 .page3_btm .cdmo1 p {}
#main .swiper-wrapper .page3 .page3_btm .cdmo2 {opacity: 0; position:relative; top:20px;}
#main .swiper-wrapper .page3 .page3_btm .cdmo2 h3 {}
#main .swiper-wrapper .page3 .page3_btm .cdmo2 h3 span {}
#main .swiper-wrapper .page3 .page3_btm .cdmo2 p {}
#main .swiper-wrapper .page3 .page3_btm .cdmo3 {margin-right:0; opacity: 0; position:relative; top:20px;}
#main .swiper-wrapper .page3 .page3_btm .cdmo3 h3 {}
#main .swiper-wrapper .page3 .page3_btm .cdmo3 h3 span {}
#main .swiper-wrapper .page3 .page3_btm .cdmo3 p {}
/* page3 end, page4 start */
#main .swiper-wrapper .page4 {background-image:url(../images/bg_004.jpg);}
#main .swiper-wrapper .page4 > * {width:1440px; margin:0 auto;}
#main .swiper-wrapper .page4 h2 {color:#fff; font-size:4.0rem; letter-spacing:-0.02em; font-weight:600; line-height:1.2; margin-bottom:50px; padding-top:250px; opacity:0; position:relative; left:-100px;}
#main .swiper-wrapper .page4 h2 span {color:#db0000; font-weight:600;}
#main .swiper-wrapper .page4 .quality_list {}
#main .swiper-wrapper .page4 .quality_list p {
    color:#fff; padding:15px 0;
    font-size:1.56rem; font-weight:600; letter-spacing: -0.02em;
    background-image:url(../images/check_001.png);
    background-repeat:no-repeat; padding-left: 70px; margin-bottom:30px;
    position:relative; top:20px; opacity: 0;
}
#main .swiper-wrapper .page4 .quality_list p:last-child {line-height:1.5;}
#main .swiper-wrapper .page4 h2, 
#main .swiper-wrapper .page4 .quality_list {position:relative; z-index:90;}
/* page4 end, page5 start */
#main .swiper-wrapper .page5 {background-image:url(../images/bg_005.jpg);}
#main .swiper-wrapper .page5 > * {width:1440px; margin:0 auto;}
#main .swiper-wrapper .page5 .page5_top {margin-bottom:40px; position:relative; z-index:90; padding-top:250px;}
#main .swiper-wrapper .page5 .page5_top h2 {
    color:#fff; line-height:1.2; letter-spacing: -0.02em;
    font-size:4.0rem; font-weight:600; margin-bottom:20px;
    opacity:0; position:relative; left:-100px;
}
#main .swiper-wrapper .page5 .page5_top h2 span {color:#db0000; font-weight:600;}
#main .swiper-wrapper .page5 .page5_top p {
    color:#fff; font-size:1.25rem; letter-spacing:-0.02em; line-height:1.2; font-weight:500;
    opacity:0; position:relative; left:-100px;
}
#main .swiper-wrapper .page5 .news_swiper {height:239px; position:relative; z-index:90; opacity: 0; position:relative; top:20px;}
#main .swiper-wrapper .page5 .news_swiper .swiper-wrapper {}
#main .swiper-wrapper .page5 .news_swiper .swiper-wrapper .swiper-slide {}
#main .swiper-wrapper .page5 .news_swiper .swiper-wrapper .swiper-slide:last-child {margin-right:0;}
#main .swiper-wrapper .page5 .news_swiper .swiper-wrapper .swiper-slide::after {display:none;}
#main .swiper-wrapper .page5 .news_swiper .swiper-wrapper .swiper-slide a {
    background:rgba(255,255,255,0.8); display:inline-block; width:490px; padding:30px 38px;
    border-radius:20px;
}
#main .swiper-wrapper .page5 .news_swiper .swiper-wrapper .swiper-slide a p {}
#main .swiper-wrapper .page5 .news_swiper .swiper-wrapper .swiper-slide a p:first-child {font-size:0.75rem; font-weight:600; color:#474747; line-height:1.2; letter-spacing:-0.02em; margin-bottom:15px;}
#main .swiper-wrapper .page5 .news_swiper .swiper-wrapper .swiper-slide a p:nth-child(3) {
    display:-webkit-box;
    margin-bottom:15px; overflow:hidden; text-overflow:ellipsis;
    line-height:1.5; letter-spacing: -0.02em; -webkit-line-clamp: 2; -webkit-box-orient:vertical ;
}
#main .swiper-wrapper .page5 .news_swiper .swiper-wrapper .swiper-slide a p:last-child {float:right;}
#main .swiper-wrapper .page5 .news_swiper .swiper-wrapper .swiper-slide a h3 {
    font-size:1.5rem; font-weight:600; line-height:1.2; letter-spacing: -0.02em;
    margin-bottom:15px;
}
/* page5 end, page6 start */
#main .swiper-wrapper .page6 {background-image:url(../images/bg_006.jpg);}
#main .swiper-wrapper .page6 > * {padding:0 240px; position:relative; z-index:90;}
#main .swiper-wrapper .page6 .page6_top {padding-top:230px;}
#main .swiper-wrapper .page6 .page6_top h2 {color:#fff; font-size:4.0rem; letter-spacing:-0.02em; font-weight:600; margin-bottom:30px; opacity: 0; position:relative; left:-100px;}
#main .swiper-wrapper .page6 .page6_top h2 span {color:#db0000; font-weight:600;}
#main .swiper-wrapper .page6 .page6_top p {font-size:1.13rem; font-weight:500; line-height:1.4; letter-spacing: -0.02em; margin-bottom:76px; color:#fff; opacity: 0; position:relative; left:-100px;}
#main .swiper-wrapper .page6 .talent_list {display:flex; justify-content: space-between;}
/* talent 공통 선택자 */
#main .swiper-wrapper .page6 .talent_list .talent {background:rgba(255,255,255,0.8); text-align:center; width:285px; border-radius:20px; padding-top:68px; height:323px;}
#main .swiper-wrapper .page6 .talent_list .talent p {font-size:1.56rem; font-weight:600; margin-bottom:10px; line-height:1.2; letter-spacing:-0.02em;}
#main .swiper-wrapper .page6 .talent_list .talent p:last-child {margin-bottom:0; font-size:0.88rem; font-weight:200;}
#main .swiper-wrapper .page6 .talent_list .talent p img {margin-bottom:30px;}
#main .swiper-wrapper .page6 .talent_list .talent p span {color:#db0000; font-weight: 600;}
/* talent 개별 선택자 */
#main .swiper-wrapper .page6 .talent_list .talent1 {opacity: 0; position:relative; top:20px;}
#main .swiper-wrapper .page6 .talent_list .talent1 p {}
#main .swiper-wrapper .page6 .talent_list .talent1 p img {}
#main .swiper-wrapper .page6 .talent_list .talent1 p span {}
#main .swiper-wrapper .page6 .talent_list .talent2 {opacity: 0; position:relative; top:20px;}
#main .swiper-wrapper .page6 .talent_list .talent2 p {}
#main .swiper-wrapper .page6 .talent_list .talent2 p img {}
#main .swiper-wrapper .page6 .talent_list .talent2 p span {}
#main .swiper-wrapper .page6 .talent_list .talent3 {opacity: 0; position:relative; top:20px;}
#main .swiper-wrapper .page6 .talent_list .talent3 p {}
#main .swiper-wrapper .page6 .talent_list .talent3 p img {}
#main .swiper-wrapper .page6 .talent_list .talent3 p span {}
#main .swiper-wrapper .page6 .talent_list .talent4 {opacity: 0; position:relative; top:20px;}
#main .swiper-wrapper .page6 .talent_list .talent4 p {}
#main .swiper-wrapper .page6 .talent_list .talent4 p img {}
#main .swiper-wrapper .page6 .talent_list .talent4 p span {}
#main .swiper-wrapper .footer { 
    background-color:#fff;
    display:flex; justify-content: space-between; align-items:center;
}
#main .swiper-wrapper .footer:after {display:none;}
#main .swiper-wrapper .footer .f_left {padding-left:80px;}
#main .swiper-wrapper .footer .f_left .link_list {margin-bottom:40px;}
#main .swiper-wrapper .footer .f_left .link_list a {
    font-size:0.88rem; font-weight:500; letter-spacing: -0.02em;
    margin-right:20px;
}
#main .swiper-wrapper .footer .f_left .link_list a:last-child {margin-right:0;}
#main .swiper-wrapper .footer .f_left .left_btm {}
#main .swiper-wrapper .footer .f_left .left_btm p {font-size:0.88rem; letter-spacing: -0.02em;}
#main .swiper-wrapper .footer .f_left .left_btm p:first-child {margin-bottom:10px;}
#main .swiper-wrapper .footer .f_left .left_btm p:nth-child(2) {margin-bottom:40px;}
#main .swiper-wrapper .footer .f_right {padding-right:80px;}
#main .swiper-wrapper .footer .f_right img {}
@keyframes page1title {
    0%{opacity:0; transform:translateY(-50px);}
    100%{opacity:1; transform:translateY(0);}
}